<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RRDA.RepImp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RRDA.RepImp.Properties.Settings>
            <setting name="PluginsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RRDA.Db;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False;Command Timeout=30</value>
            </setting>
            <setting name="RecurseDepth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UnitMappings" serializeAs="String">
                <value>UnitMappings.xml</value>
            </setting>
        </RRDA.RepImp.Properties.Settings>
    </userSettings>
</configuration>
